---
import ProjectItem from './ProjectItem.astro';
import { TAGS, type TagProps } from './Tag/Tags.astro';

export interface ProjectProps {
    title: string;
    images: string[];
    description: string;
    link?: string;
    github?: string;
    tags?: TagProps[];
}

const PROJECTS: ProjectProps[] = [
    {
        title: 'Gamehub - A platform where you can stream like on twitch',
        description:
            'Live streaming platform focused on video games and related content, where users can watch and broadcast in real time, interact with other viewers and creators, and follow their favorite streamers.',
        link: 'https://gamehubzone.vercel.app/',
        github: 'https://github.com/BrayanZv243/twitch-clone-gamehub',
        images: [
            '/projects/gamehub0.jpg',
            '/projects/gamehub1.jpg',
            '/projects/gamehub2.jpg',
            '/projects/gamehub3.jpg',
            '/projects/gamehub4.jpg',
            '/projects/gamehub5.jpg',
            '/projects/gamehub6.jpg',
        ],
        tags: [
            TAGS.NEXTJS,
            TAGS.CLERK,
            TAGS.VERCEL,
            TAGS.REACT,
            TAGS.TYPESCRIPT,
            TAGS.TAILWIND,
            TAGS.FIREBASE,
        ],
    },
    {
        title: 'Prestodo Mobile application to lend items',
        description:
            'Mobile application that allows users to lend their items for a small price to other people.',
        github: 'https://github.com/NallelyRAM/Prestamos_Faciles',
        images: [
            '/projects/prestodo.jpg',
            '/projects/prestodo1.jpg',
            '/projects/prestodo3.jpg',
        ],
        tags: [TAGS.KOTLIN, TAGS.FIREBASE, TAGS.GMAIL],
    },
    {
        title: 'TODOS - Beautiful app for creating things to do',
        description:
            'Simple web app where you can manage the things you have to do, from saving notes to cleaning those you no longer need, as well as filtering them by active ones.',
        link: 'https://my-todo-vite-react.netlify.app/',
        github: 'https://github.com/BrayanZv243/Notes-TODO',
        images: ['/projects/todos.jpg', '/projects/todos2.jpg'],
        tags: [
            TAGS.REACT,
            TAGS.VITEJS,
            TAGS.TAILWIND,
            TAGS.NODE,
            TAGS.EXPRESSJS,
            TAGS.MYSQL,
        ],
    },
    {
        title: 'Movie Catalog',
        description:
            'Catalog of movies ranked by stars where you can rent, buy and add to favorites',
        github: 'https://github.com/BrayanZv243/PeliculasReact',
        images: ['/projects/movies.jpg', '/projects/movies2.jpg'],
        tags: [
            TAGS.CSHARP,
            TAGS.NETCORE,
            TAGS.SQLSERVER,
            TAGS.REACT,
            TAGS.MATERIALUI,
        ],
    },

    {
        title: 'Profeco Products',
        description:
            'Profeco catalog to keep track of product prices and customer comments.',
        github: 'https://github.com/WhitheSpaceJJ/Distribuidos-Profeco',
        images: ['/projects/profeco.jpg'],
        tags: [
            TAGS.JAVA,
            TAGS.SPRINGFRAMEWORK,
            TAGS.MYSQL,
            TAGS.BOOTSTRAP,
            TAGS.JAVASCRIPT,
            TAGS.DOCKER,
        ],
    },
];
---

<>
    <div class="flex flex-col gap-y-16">
        {
            PROJECTS.map(
                ({ images, title, description, tags, link, github }) => (
                    <ProjectItem
                        images={images}
                        title={title}
                        description={description}
                        tags={tags}
                        link={link}
                        github={github}
                    />
                )
            )
        }
    </div>
</>
