---
import ProjectItem from './ProjectItem.astro';
import { TAGS, type TagProps } from './Tag/Tags.astro';
import { countFiles } from '@/utils/getNumFiles';

interface ProjectProps {
    title: string;
    images: string[];
    description: string;
    link?: string;
    github?: string;
    tags?: TagProps[];
}

const pathImages = '/projects';
const pathRoot = 'public/projects';

const numFilesGamehub = countFiles(`${pathRoot}/Gamehub`);
const numFilesPrestodo = countFiles(`${pathRoot}/Prestodo`);
const numFilesTodos = countFiles(`${pathRoot}/Todos`);
const numFilesMovieCatalog = countFiles(`${pathRoot}/MoviesCatalog`);
const numFilesProfeco = countFiles(`${pathRoot}/Profeco`);
const numFilesMessenger = countFiles(`${pathRoot}/Messenger`);

const PROJECTS: ProjectProps[] = [
    {
        title: 'Gamehub - A platform where you can stream like on twitch',
        description:
            'Live streaming platform focused on video games and related content, where users can watch and broadcast in real time, interact with other viewers and creators, and follow their favorite streamers.',
        link: 'https://gamehubzone.vercel.app/',
        github: 'https://github.com/BrayanZv243/twitch-clone-gamehub',
        images: [...Array(await numFilesGamehub)].map(
            (_, i) => `${pathImages}/Gamehub/gamehub${i}.jpg`
        ),

        tags: [
            TAGS.NEXTJS,
            TAGS.CLERK,
            TAGS.VERCEL,
            TAGS.REACT,
            TAGS.TYPESCRIPT,
            TAGS.TAILWIND,
            TAGS.FIREBASE,
        ],
    },
    {
        title: 'Messenger - Send a Message! or maybe a video, or image, or whatever',
        description:
            'Messaging app that lets users send instant text messages and share multimedia content like photos and videos. Seamlessly integrates with Google and GitHub for connecting with friends and signing up.',
        images: [...Array(await numFilesMessenger)].map(
            (_, i) => `${pathImages}/Messenger/messenger${i}.jpg`
        ),
        link: 'https://messenger-clone-brayan-z.vercel.app/',
        github: 'https://github.com/BrayanZv243/messenger-clone',
        tags: [
            TAGS.NEXTJS,
            TAGS.VERCEL,
            TAGS.REACT,
            TAGS.TYPESCRIPT,
            TAGS.TAILWIND,
            TAGS.MONGODB,
            TAGS.PUSHER,
            TAGS.CLOUDINARY,
            TAGS.PRISMA,
        ],
    },
    {
        title: 'TODOS - Beautiful app for creating things to do',
        description:
            'Simple web app where you can manage the things you have to do, from saving notes to cleaning those you no longer need, as well as filtering them by active ones.',
        link: 'https://my-todo-vite-react.netlify.app/',
        github: 'https://github.com/BrayanZv243/Notes-TODO',
        images: [...Array(await numFilesTodos)].map(
            (_, i) => `${pathImages}/Todos/todos${i}.jpg`
        ),
        tags: [
            TAGS.REACT,
            TAGS.JAVASCRIPT,
            TAGS.VITEJS,
            TAGS.TAILWIND,
            TAGS.NODE,
            TAGS.EXPRESSJS,
            TAGS.MYSQL,
        ],
    },
    {
        title: 'Prestodo Mobile application to lend items',
        description:
            'Mobile application that allows users to lend their items for a small price to other people.',
        github: 'https://github.com/NallelyRAM/Prestamos_Faciles',
        images: [...Array(await numFilesPrestodo)].map(
            (_, i) => `${pathImages}/Prestodo/prestodo${i}.jpg`
        ),
        tags: [TAGS.KOTLIN, TAGS.FIREBASE, TAGS.GMAIL],
    },
    {
        title: 'Movie Catalog',
        description:
            'Catalog of movies ranked by stars where you can rent, buy and add to favorites',
        github: 'https://github.com/BrayanZv243/PeliculasReact',
        images: [...Array(await numFilesMovieCatalog)].map(
            (_, i) => `${pathImages}/MoviesCatalog/movies${i}.jpg`
        ),
        tags: [
            TAGS.CSHARP,
            TAGS.NETCORE,
            TAGS.SQLSERVER,
            TAGS.REACT,
            TAGS.MATERIALUI,
        ],
    },

    {
        title: 'Profeco Products',
        description:
            'Profeco catalog to keep track of product prices and customer comments.',
        github: 'https://github.com/WhitheSpaceJJ/Distribuidos-Profeco',
        images: [...Array(await numFilesProfeco)].map(
            (_, i) => `${pathImages}/Profeco/profeco${i}.jpg`
        ),
        tags: [
            TAGS.JAVA,
            TAGS.SPRINGFRAMEWORK,
            TAGS.MYSQL,
            TAGS.BOOTSTRAP,
            TAGS.JAVASCRIPT,
            TAGS.DOCKER,
        ],
    },
];
---

<>
    <div class="flex flex-col gap-y-16">
        {
            PROJECTS.map(
                ({ images, title, description, tags, link, github }) => (
                    <ProjectItem
                        images={images}
                        title={title}
                        description={description}
                        tags={tags}
                        link={link}
                        github={github}
                    />
                )
            )
        }
    </div>
</>
